/* Task View Page */
.task-categories {
  margin-top: 30px;

  .item {
    display: flex;
    align-items: center;
    & > p {
      margin: 0;
    }
    code {
      padding: 2px 5px;
      margin: 0;
      font-size: 14px;
      background-color: rgba(27, 31, 35, 0.05);
      border-radius: 6px;
      line-height: 1;
      font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    }
  }
}

.tasks-filters-collapse {
  &.ant-collapse {
    border-color: #f0f0f0;
  }
  &.ant-collapse > .ant-collapse-item {
    border-bottom-color: #f0f0f0;
  }
  &.ant-collapse .ant-collapse-content {
    border-top-color: #f0f0f0;
  }
}
