.task-category-item {
  position: relative;
  display: flex;
  align-items: center;
  &__remove {
    position: absolute;
    right: -40px;
    top: 0;
    font-size: 20px;
    color: red;
  }
}

.task-categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  &__item {
    &--description {
      grid-column: 1 / 3;
    }
  }
}
