/* Review History Page */

.review-history-filters-collapse {
  &.ant-collapse {
    border-color: #f0f0f0;
  }
  &.ant-collapse > .ant-collapse-item {
    border-bottom-color: #f0f0f0;
  }
  &.ant-collapse .ant-collapse-content {
    border-top-color: #f0f0f0;
  }
}
