@import '~antd/dist/antd.css';

.req {
  color: red;
}

/* Header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  &__logo {
    font-weight: bold;
    font-size: 20px;
    a {
      color: #000;
    }
  }
}

/* Default Layout */
.default-layout {
  min-height: 100vh;
  &__breadcrumbs {
    margin: 16px 0;
  }
  &__content {
    padding: 30px;
    background-color: #fff;
  }
}
