@import '~antd/dist/antd.css';

.req {
  color: red;
}

.d-flex {
  display: flex !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

/* Margin */
.mb-1 {
  margin-bottom: 10px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

/**/

.content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* Header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  &__logo {
    font-weight: bold;
    font-size: 20px;
    a {
      color: #000;
    }
  }
}

/**/

/* Default Layout */
.default-layout {
  min-height: 100vh;
  &__breadcrumbs {
    margin: 16px 0;
  }
  &__content {
    padding: 30px;
    background-color: #fff;
  }

  /* Page */
  .page-title {
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
}
