.login-form {
    text-align: center;
    &__name {
        margin-bottom: 0;
    }
    &__logo {
        display: block;
        width: 100px !important;
        margin: 30px auto 20px;
    }
}

.select-role {
    margin: 20px auto 0;
    text-align: left;
    &__label {
        display: block;
        font-weight: bold;
        font-size: 14px;
    }
}